# DATABASES = {
#     'default': {
#         'ENGINE': 'django.db.backends.mysql',
#         'NAME': 'coopercraft',
#         'HOST': 'localhost',
#         'PORT': 3306,
#         'USER': 'yourjinnie',
#         'PASSWORD': 'Yourjinnie@1234',
#     }
# }

{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div id="owl-carousel" class="owl-carousel nav_style1 owl-theme">
            {% for category in categories %}
            <div class="item">
                <a href="/?category={{category.id}}">
                    <div class="collection_banner">
                        <img src="{{category.image.url}}" alt="shop_banner_img1"/>
                        <h3 class="collection_title">{{category}}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--<div class="col-md-4 col-6">-->
<!--                            <div class="product">-->
<!--                                <div class="product_img">-->
<!--                                    <a href="product-detail.php">-->
<!--                                        <img src="/static/assets/images/product/Bamboo-Basket.jpg" alt="product_img1">-->
<!--                                    </a>-->
<!--                                    <div class="product_action_box">-->
<!--                                        <ul class="list_none pr_action_btn">-->
<!--                                            <li class="add-to-cart"><a href="/cart"><i class="icon-basket-loaded"></i>-->
<!--                                                Add To Cart</a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="popup-ajax"><i-->
<!--                                                    class="icon-shuffle"></i></a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="popup-ajax"><i-->
<!--                                                    class="icon-magnifier-add"></i></a></li>-->
<!--                                            <li><a href="/wishlist"><i class="icon-heart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="product_info">-->
<!--                                    <h6 class="product_title"><a href="product-detail.php">Bamboo Basket</a></h6>-->
<!--                                    <div class="product_price">-->
<!--                                        <span class="price">₹45.00</span>-->
<!--                                        <del>₹55.25</del>-->
<!--                                        <div class="on_sale">-->
<!--                                            <span>35% Off</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="rating_wrap">-->
<!--                                        <div class="rating">-->
<!--                                            <div class="product_rate" style="width:80%"></div>-->
<!--                                        </div>-->
<!--                                        <div class="thing">-->
<!--                                            <div class="thing__content">-->
<!--                                                <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;-->
<!--                                                </div>-->
<!--                                                <a-->
<!--                                                        class="thing__social thing__social&#45;&#45;first thing__social&#45;&#45;facebook"-->
<!--                                                        href="#"><i class="ion-social-facebook"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;twitter" href="#"><i-->
<!--                                                    class="ion-social-twitter"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;linkedin" href="#"><i-->
<!--                                                    class="ion-social-linkedin"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;last thing__social&#45;&#45;google"-->
<!--                                                    href="#"><i class="ion-social-google"></i></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="pr_desc">-->
<!--                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus-->
<!--                                            blandit massa enim. Nullam id varius nunc id varius nunc.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-4 col-6">-->
<!--                            <div class="product">-->
<!--                                <div class="product_img">-->
<!--                                    <a href="product-detail.php">-->
<!--                                        <img src="/static/assets/images/product/Bamboo-Basket-color.jpeg"-->
<!--                                             alt="product_img1">-->
<!--                                    </a>-->
<!--                                    <div class="product_action_box">-->
<!--                                        <ul class="list_none pr_action_btn">-->
<!--                                            <li class="add-to-cart"><a href="/cart"><i class="icon-basket-loaded"></i>-->
<!--                                                Add To Cart</a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="popup-ajax"><i-->
<!--                                                    class="icon-shuffle"></i></a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="popup-ajax"><i-->
<!--                                                    class="icon-magnifier-add"></i></a></li>-->
<!--                                            <li><a href="/wishlist"><i class="icon-heart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="product_info">-->
<!--                                    <h6 class="product_title"><a href="product-detail.php">Bamboo Basket</a></h6>-->
<!--                                    <div class="product_price">-->
<!--                                        <span class="price">₹45.00</span>-->
<!--                                        <del>₹55.25</del>-->
<!--                                        <div class="on_sale">-->
<!--                                            <span>35% Off</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="rating_wrap">-->
<!--                                        <div class="rating">-->
<!--                                            <div class="product_rate" style="width:80%"></div>-->
<!--                                        </div>-->
<!--                                        <div class="thing">-->
<!--                                            <div class="thing__content">-->
<!--                                                <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;-->
<!--                                                </div>-->
<!--                                                <a-->
<!--                                                        class="thing__social thing__social&#45;&#45;first thing__social&#45;&#45;facebook"-->
<!--                                                        href="#"><i class="ion-social-facebook"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;twitter" href="#"><i-->
<!--                                                    class="ion-social-twitter"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;linkedin" href="#"><i-->
<!--                                                    class="ion-social-linkedin"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;last thing__social&#45;&#45;google"-->
<!--                                                    href="#"><i class="ion-social-google"></i></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="pr_desc">-->
<!--                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus-->
<!--                                            blandit massa enim. Nullam id varius nunc id varius nunc.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-4 col-6">-->
<!--                            <div class="product">-->
<!--                                <div class="product_img">-->
<!--                                    <a href="product-detail.php">-->
<!--                                        <img src="/static/assets/images/product/Bamboo-Hanging.jpg" alt="product_img1">-->
<!--                                    </a>-->
<!--                                    <div class="product_action_box">-->
<!--                                        <ul class="list_none pr_action_btn">-->
<!--                                            <li class="add-to-cart"><a href="/cart"><i class="icon-basket-loaded"></i>-->
<!--                                                Add To Cart</a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="popup-ajax"><i-->
<!--                                                    class="icon-shuffle"></i></a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="popup-ajax"><i-->
<!--                                                    class="icon-magnifier-add"></i></a></li>-->
<!--                                            <li><a href="/wishlist"><i class="icon-heart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="product_info">-->
<!--                                    <h6 class="product_title"><a href="product-detail.php">Bamboo Basket</a></h6>-->
<!--                                    <div class="product_price">-->
<!--                                        <span class="price">₹45.00</span>-->
<!--                                        <del>₹55.25</del>-->
<!--                                        <div class="on_sale">-->
<!--                                            <span>35% Off</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="rating_wrap">-->
<!--                                        <div class="rating">-->
<!--                                            <div class="product_rate" style="width:80%"></div>-->
<!--                                        </div>-->
<!--                                        <div class="thing">-->
<!--                                            <div class="thing__content">-->
<!--                                                <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;-->
<!--                                                </div>-->
<!--                                                <a-->
<!--                                                        class="thing__social thing__social&#45;&#45;first thing__social&#45;&#45;facebook"-->
<!--                                                        href="#"><i class="ion-social-facebook"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;twitter" href="#"><i-->
<!--                                                    class="ion-social-twitter"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;linkedin" href="#"><i-->
<!--                                                    class="ion-social-linkedin"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;last thing__social&#45;&#45;google"-->
<!--                                                    href="#"><i class="ion-social-google"></i></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="pr_desc">-->
<!--                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus-->
<!--                                            blandit massa enim. Nullam id varius nunc id varius nunc.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-4 col-6">-->
<!--                            <div class="product">-->
<!--                                <div class="product_img">-->
<!--                                    <a href="product-detail.php">-->
<!--                                        <img src="/static/assets/images/product/Bamboo-Basket-1.jpg" alt="product_img1">-->
<!--                                    </a>-->
<!--                                    <div class="product_action_box">-->
<!--                                        <ul class="list_none pr_action_btn">-->
<!--                                            <li class="add-to-cart"><a href="/cart"><i class="icon-basket-loaded"></i>-->
<!--                                                Add To Cart</a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="popup-ajax"><i-->
<!--                                                    class="icon-shuffle"></i></a></li>-->
<!--                                            <li><a href="javascript:void(0);" class="popup-ajax"><i-->
<!--                                                    class="icon-magnifier-add"></i></a></li>-->
<!--                                            <li><a href="/wishlist"><i class="icon-heart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="product_info">-->
<!--                                    <h6 class="product_title"><a href="product-detail.php">Bamboo Basket</a></h6>-->
<!--                                    <div class="product_price">-->
<!--                                        <span class="price">₹45.00</span>-->
<!--                                        <del>₹55.25</del>-->
<!--                                        <div class="on_sale">-->
<!--                                            <span>35% Off</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="rating_wrap">-->
<!--                                        <div class="rating">-->
<!--                                            <div class="product_rate" style="width:80%"></div>-->
<!--                                        </div>-->
<!--                                        <div class="thing">-->
<!--                                            <div class="thing__content">-->
<!--                                                <div class="thing__text"><i class="fa fa-share-square"></i>&nbsp;-->
<!--                                                </div>-->
<!--                                                <a-->
<!--                                                        class="thing__social thing__social&#45;&#45;first thing__social&#45;&#45;facebook"-->
<!--                                                        href="#"><i class="ion-social-facebook"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;twitter" href="#"><i-->
<!--                                                    class="ion-social-twitter"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;linkedin" href="#"><i-->
<!--                                                    class="ion-social-linkedin"></i></a> <a-->
<!--                                                    class="thing__social thing__social&#45;&#45;last thing__social&#45;&#45;google"-->
<!--                                                    href="#"><i class="ion-social-google"></i></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="pr_desc">-->
<!--                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus-->
<!--                                            blandit massa enim. Nullam id varius nunc id varius nunc.</p>-->
<!--                                    </div>-->
<!--                                </div>-->

{% endblock %}










