 <!--                                <td>-->
                                <!--                                    <div class="row no-gutters">-->
                                <!--                                        <form action="{% url 'cart' %}" method="POST" class="col-2">-->
                                <!--                                            {% csrf_token %}-->
                                <!--                                            <input type="hidden" name="product_id" value="{{ product.id }}">-->
                                <!--                                            <input type="hidden" name="action" value="decrement">-->
                                <!--                                            <button type="submit" class="btn btn-secondary">-</button>-->
                                <!--                                        </form>-->
                                <!--                                        <div class="text-center col">-->
                                <!--                                            {{ cart|cart_quantity:product.id }}-->
                                <!--                                        </div>-->
                                <!--                                        <form action="{% url 'cart' %}" method="POST" class="col-2">-->
                                <!--                                            {% csrf_token %}-->
                                <!--                                            <input type="hidden" name="product_id" value="{{ product.id }}">-->
                                <!--                                            <input type="hidden" name="action" value="increment">-->
                                <!--                                            <button type="submit" class="btn btn-secondary">+</button>-->
                                <!--                                        </form>-->
                                <!--                                    </div>-->
                                <!--                                </td>-->




<!-- <title>Cart</title>-->
<!--    <style>-->
<!--        .quantity-controls {-->
<!--            display: flex;-->
<!--            align-items: center;-->
<!--        }-->
<!--        .quantity-controls button {-->
<!--            margin: 0 5px;-->
<!--        }-->
<!--    </style>-->