{% extends 'base.html' %}
{% load cart %}
{% load custom_filter %}
{% block content %}

<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1 class="text-white">My Account</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main_content position-relative" id="bambocraft">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="dashboard_menu">
                        <ul class="nav nav-tabs flex-column" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard"
                                   role="tab" aria-controls="dashboard" aria-selected="true"><i
                                        class="ti-layout-grid2"></i>Dashboard</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab"
                                   aria-controls="orders" aria-selected="false" tabindex="-1"><i
                                        class="ti-shopping-cart-full"></i>Orders</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab"
                                   aria-controls="address" aria-selected="false" tabindex="-1"><i
                                        class="ti-location-pin"></i>My Address</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                   href="#account-detail" role="tab" aria-controls="account-detail"
                                   aria-selected="false" tabindex="-1"><i class="ti-id-badge"></i>Account
                                    details</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="/logout" aria-selected="false" tabindex="-1"
                                   role="tab"><i class="ti-lock"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                             aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Dashboard</h3>
                                </div>
                                <div class="card-body">
                                    <p>From your account dashboard, you can easily check &amp; view your <a
                                            href="javascript:;" onclick="$('#orders-tab').trigger('click')">recent
                                        orders</a>, manage your <a href="javascript:;"
                                                                   onclick="$('#address-tab').trigger('click')">shipping
                                        and billing
                                        addresses</a> and <a href="javascript:;"
                                                             onclick="$('#account-detail-tab').trigger('click')">edit
                                        your password
                                        and account details.</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Orders</h3>
                                </div>
                                {% include 'order.html' %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-3 mb-lg-0">
                                        <div class="card-header">
                                            <h3>Billing Address</h3>
                                        </div>
                                        <div class="card-body">
                                            {% if billing_address %}
                                            <address>
                                                {{ billing_address.address_line_1 }}<br>
                                                {{ billing_address.address_line_2 }}<br>
                                                {{ billing_address.city }}<br>
                                                {{ billing_address.state }}<br>
                                                {{ billing_address.postal_code }}<br>
                                                {{ billing_address.phone }}
                                            </address>
                                            <p>{{ billing_address.email }}</p>
                                            {% else %}
                                            <p>No billing address provided.</p>
                                            {% endif %}
                                            <button type="button" class="btn btn-fill-out" data-bs-toggle="modal"
                                                    data-bs-target="#BillingAddressModal">
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Shipping Address</h3>
                                        </div>
                                        <div class="card-body">
                                            {% if shipping_address %}
                                            <address>
                                                {{ shipping_address.address_line_1 }}<br>
                                                {{ shipping_address.address_line_2 }}<br>
                                                {{ shipping_address.city }}<br>
                                                {{ shipping_address.state }}<br>
                                                {{ shipping_address.postal_code }}<br>
                                                {{ shipping_address.phone }}
                                            </address>
                                            <p>{{ shipping_address.email }}</p>
                                            {% else %}
                                            <p>No shipping address provided.</p>
                                            {% endif %}
                                            <button type="button" class="btn btn-fill-out" data-bs-toggle="modal"
                                                    data-bs-target="#ShippingAddressModal">
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-lg-6">-->
                        <!--                                    <div class="card mb-3 mb-lg-0">-->
                        <!--                                        <div class="card-header">-->
                        <!--                                            <h3>Billing Address</h3>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="card-body">-->
                        <!--                                            {% if billing_address %}-->
                        <!--                                                <address>-->
                        <!--                                                    {{ billing_address.address_line_1 }}<br>-->
                        <!--                                                    {{ billing_address.address_line_2 }}<br>-->
                        <!--                                                    {{ billing_address.city }}<br>-->
                        <!--                                                    {{ billing_address.state }}<br>-->
                        <!--                                                    {{ billing_address.postal_code }}<br>-->
                        <!--                                                    {{ billing_address.phone }}-->
                        <!--                                                </address>-->
                        <!--                                                <p>{{ billing_address.email }}</p>-->
                        <!--                                            {% else %}-->
                        <!--                                                <p>No billing address provided.</p>-->
                        <!--                                            {% endif %}-->
                        <!--                                            <button type="button" class="btn btn-fill-out" data-bs-toggle="modal"-->
                        <!--                                                    data-bs-target="#BillingAddress">-->
                        <!--                                                Edit-->
                        <!--                                            </button>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-lg-6">-->
                        <!--                                    <div class="card">-->
                        <!--                                        <div class="card-header">-->
                        <!--                                            <h3>Shipping Address</h3>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="card-body">-->
                        <!--                                            {% if shipping_address %}-->
                        <!--                                                <address>-->
                        <!--                                                    {{ shipping_address.address_line_1 }}<br>-->
                        <!--                                                    {{ shipping_address.address_line_2 }}<br>-->
                        <!--                                                    {{ shipping_address.city }}<br>-->
                        <!--                                                    {{ shipping_address.state }}<br>-->
                        <!--                                                    {{ shipping_address.postal_code }}<br>-->
                        <!--                                                    {{ shipping_address.phone }}-->
                        <!--                                                </address>-->
                        <!--                                                <p>{{ shipping_address.email }}</p>-->
                        <!--                                            {% else %}-->
                        <!--                                                <p>No shipping address provided.</p>-->
                        <!--                                            {% endif %}-->
                        <!--                                            <button type="button" class="btn btn-fill-out" data-bs-toggle="modal"-->
                        <!--                                                    data-bs-target="#ShippingAddress">-->
                        <!--                                                Edit-->
                        <!--                                            </button>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="tab-pane fade" id="account-detail" role="tabpanel"
                             aria-labelledby="account-detail-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Account Details</h3>
                                </div>
                                <div class="card-body">
                                    <p>Already have an account? <a href="#">Log in instead!</a></p>
                                    <form method="post" name="enq">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="form-group col-md-6 mb-3">
                                                <label>First Name <span class="required">*</span></label>
                                                <input required="" class="form-control" name="fname" type="text">
                                            </div>
                                            <div class="form-group col-md-6 mb-3">
                                                <label>Last Name <span class="required">*</span></label>
                                                <input required="" class="form-control" name="lname" type="text">
                                            </div>
                                            <div class="form-group col-md-12 mb-3">
                                                <label>Display Name <span class="required">*</span></label>
                                                <input required="" class="form-control" name="dname" type="text">
                                            </div>
                                            <div class="form-group col-md-12 mb-3">
                                                <label>Email Address <span class="required">*</span></label>
                                                <input required="" class="form-control" name="email" type="email">
                                            </div>
                                            <div class="form-group col-md-12 mb-3">
                                                <label>Current Password <span class="required">*</span></label>
                                                <input required="" class="form-control" name="password"
                                                       type="password">
                                            </div>
                                            <div class="form-group col-md-12 mb-3">
                                                <label>New Password <span class="required">*</span></label>
                                                <input required="" class="form-control" name="npassword"
                                                       type="password">
                                            </div>
                                            <div class="form-group col-md-12 mb-3">
                                                <label>Confirm Password <span class="required">*</span></label>
                                                <input required="" class="form-control" name="cpassword"
                                                       type="password">
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-fill-out" name="submit"
                                                        value="Submit">Save
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Billing Address Modal -->
<div class="modal fade" id="BillingAddressModal" tabindex="-1" aria-labelledby="BillingAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BillingAddressModalLabel">Edit Billing Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit_billing_address' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="billing_address_line_1" class="form-label">Address Line 1</label>
                        <input type="text" class="form-control" id="billing_address_line_1" name="address_line_1" value="{{ billing_address.address_line_1 }}">
                    </div>
                    <div class="mb-3">
                        <label for="billing_address_line_2" class="form-label">Address Line 2</label>
                        <input type="text" class="form-control" id="billing_address_line_2" name="address_line_2" value="{{ billing_address.address_line_2 }}">
                    </div>
                    <div class="mb-3">
                        <label for="billing_city" class="form-label">City</label>
                        <input type="text" class="form-control" id="billing_city" name="city" value="{{ billing_address.city }}">
                    </div>
                    <div class="mb-3">
                        <label for="billing_state" class="form-label">State</label>
                        <input type="text" class="form-control" id="billing_state" name="state" value="{{ billing_address.state }}">
                    </div>
                    <div class="mb-3">
                        <label for="billing_postal_code" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" id="billing_postal_code" name="postal_code" value="{{ billing_address.postal_code }}">
                    </div>
                    <div class="mb-3">
                        <label for="billing_phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="billing_phone" name="phone" value="{{ billing_address.phone }}">
                    </div>
                    <div class="mb-3">
                        <label for="billing_email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="billing_email" name="email" value="{{ billing_address.email }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Shipping Address Modal -->
<div class="modal fade" id="ShippingAddressModal" tabindex="-1" aria-labelledby="ShippingAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ShippingAddressModalLabel">Edit Shipping Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit_shipping_address' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="shipping_address_line_1" class="form-label">Address Line 1</label>
                        <input type="text" class="form-control" id="shipping_address_line_1" name="address_line_1" value="{{ shipping_address.address_line_1 }}">
                    </div>
                    <div class="mb-3">
                        <label for="shipping_address_line_2" class="form-label">Address Line 2</label>
                        <input type="text" class="form-control" id="shipping_address_line_2" name="address_line_2" value="{{ shipping_address.address_line_2 }}">
                    </div>
                    <div class="mb-3">
                        <label for="shipping_city" class="form-label">City</label>
                        <input type="text" class="form-control" id="shipping_city" name="city" value="{{ shipping_address.city }}">
                    </div>
                    <div class="mb-3">
                        <label for="shipping_state" class="form-label">State</label>
                        <input type="text" class="form-control" id="shipping_state" name="state" value="{{ shipping_address.state }}">
                    </div>
                    <div class="mb-3">
                        <label for="shipping_postal_code" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" id="shipping_postal_code" name="postal_code" value="{{ shipping_address.postal_code }}">
                    </div>
                    <div class="mb-3">
                        <label for="shipping_phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="shipping_phone" name="phone" value="{{ shipping_address.phone }}">
                    </div>
                    <div class="mb-3">
                        <label for="shipping_email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="shipping_email" name="email" value="{{ shipping_address.email }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


<!--<div class="breadcrumb_section bg_gray page-title-mini">-->
<!--    <div class="container">&lt;!&ndash; STRART CONTAINER &ndash;&gt;-->
<!--        <div class="row align-items-center">-->
<!--            <div class="col-md-6">-->
<!--                <div class="page-title">-->
<!--                    <h1 class="text-white">My Account</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>&lt;!&ndash; END CONTAINER&ndash;&gt;-->
<!--</div>-->
<!--<div class="main_content position-relative" id="bambocraft">-->
<!--    <div class="section">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-3 col-md-4">-->
<!--                    <div class="dashboard_menu">-->
<!--                        <ul class="nav nav-tabs flex-column" role="tablist">-->
<!--                            <li class="nav-item" role="presentation">-->
<!--                                <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard"-->
<!--                                   role="tab" aria-controls="dashboard" aria-selected="true"><i-->
<!--                                        class="ti-layout-grid2"></i>Dashboard</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item" role="presentation">-->
<!--                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab"-->
<!--                                   aria-controls="orders" aria-selected="false" tabindex="-1"><i-->
<!--                                        class="ti-shopping-cart-full"></i>Orders</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item" role="presentation">-->
<!--                                <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab"-->
<!--                                   aria-controls="address" aria-selected="false" tabindex="-1"><i-->
<!--                                        class="ti-location-pin"></i>My Address</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item" role="presentation">-->
<!--                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"-->
<!--                                   href="#account-detail" role="tab" aria-controls="account-detail"-->
<!--                                   aria-selected="false" tabindex="-1"><i class="ti-id-badge"></i>Account-->
<!--                                    details</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item" role="presentation">-->
<!--                                <a class="nav-link" href="/logout" aria-selected="false" tabindex="-1"-->
<!--                                   role="tab"><i class="ti-lock"></i>Logout</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-9 col-md-8">-->
<!--                    <div class="tab-content dashboard_content">-->
<!--                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel"-->
<!--                             aria-labelledby="dashboard-tab">-->
<!--                            <div class="card">-->
<!--                                <div class="card-header">-->
<!--                                    <h3>Dashboard</h3>-->
<!--                                </div>-->
<!--                                <div class="card-body">-->
<!--                                    <p>From your account dashboard. you can easily check &amp; view your <a-->
<!--                                            href="javascript:;" onclick="$('#orders-tab').trigger('click')">recent-->
<!--                                        orders</a>, manage your <a href="javascript:;"-->
<!--                                                                   onclick="$('#address-tab').trigger('click')">shipping-->
<!--                                        and billing-->
<!--                                        addresses</a> and <a href="javascript:;"-->
<!--                                                             onclick="$('#account-detail-tab').trigger('click')">edit-->
<!--                                        your password-->
<!--                                        and account details.</a></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">-->
<!--                            <div class="card">-->
<!--                                <div class="card-header">-->
<!--                                    <h3>Orders</h3>-->
<!--                                </div>-->
<!--                                {% include 'order.html' %}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-6">-->
<!--                                    <div class="card mb-3 mb-lg-0">-->
<!--                                        <div class="card-header">-->
<!--                                            <h3>Billing Address</h3>-->
<!--                                        </div>-->
<!--                                        <div class="card-body">-->
<!--                                            <address>House #15<br>Road #1<br>Block #C <br>Angali <br> Vedora-->
<!--                                                <br>1212-->
<!--                                            </address>-->
<!--                                            <p>New York</p>-->
<!--                                            <button type="button" class="btn btn-fill-out" data-bs-toggle="modal"-->
<!--                                                    data-bs-target="#BillingAddress">-->
<!--                                                Edit-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-6">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-header">-->
<!--                                            <h3>Shipping Address</h3>-->
<!--                                        </div>-->
<!--                                        <div class="card-body">-->
<!--                                            <address>House #15<br>Road #1<br>Block #C <br>Angali <br> Vedora-->
<!--                                                <br>1212-->
<!--                                            </address>-->
<!--                                            <p>New York</p>-->
<!--                                            <button type="button" class="btn btn-fill-out" data-bs-toggle="modal"-->
<!--                                                    data-bs-target="#ShippingAddress">-->
<!--                                                Edit-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="account-detail" role="tabpanel"-->
<!--                             aria-labelledby="account-detail-tab">-->
<!--                            <div class="card">-->
<!--                                <div class="card-header">-->
<!--                                    <h3>Account Details</h3>-->
<!--                                </div>-->
<!--                                <div class="card-body">-->
<!--                                    <p>Already have an account? <a href="#">Log in instead!</a></p>-->
<!--                                    <form method="post" name="enq">-->
<!--                                        {% csrf_token %}-->
<!--                                        <div class="row">-->
<!--                                            <div class="form-group col-md-6 mb-3">-->
<!--                                                <label>First Name <span class="required">*</span></label>-->
<!--                                                <input required="" class="form-control" name="name" type="text">-->
<!--                                            </div>-->
<!--                                            <div class="form-group col-md-6 mb-3">-->
<!--                                                <label>Last Name <span class="required">*</span></label>-->
<!--                                                <input required="" class="form-control" name="phone">-->
<!--                                            </div>-->
<!--                                            <div class="form-group col-md-12 mb-3">-->
<!--                                                <label>Display Name <span class="required">*</span></label>-->
<!--                                                <input required="" class="form-control" name="dname" type="text">-->
<!--                                            </div>-->
<!--                                            <div class="form-group col-md-12 mb-3">-->
<!--                                                <label>Email Address <span class="required">*</span></label>-->
<!--                                                <input required="" class="form-control" name="email" type="email">-->
<!--                                            </div>-->
<!--                                            <div class="form-group col-md-12 mb-3">-->
<!--                                                <label>Current Password <span class="required">*</span></label>-->
<!--                                                <input required="" class="form-control" name="password"-->
<!--                                                       type="password">-->
<!--                                            </div>-->
<!--                                            <div class="form-group col-md-12 mb-3">-->
<!--                                                <label>New Password <span class="required">*</span></label>-->
<!--                                                <input required="" class="form-control" name="npassword"-->
<!--                                                       type="password">-->
<!--                                            </div>-->
<!--                                            <div class="form-group col-md-12 mb-3">-->
<!--                                                <label>Confirm Password <span class="required">*</span></label>-->
<!--                                                <input required="" class="form-control" name="cpassword"-->
<!--                                                       type="password">-->
<!--                                            </div>-->
<!--                                            <div class="col-md-12">-->
<!--                                                <button type="submit" class="btn btn-fill-out" name="submit"-->
<!--                                                        value="Submit">Save-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

