{% load cart %}
{% load custom_filter %}


<div class="card-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Date</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
             <tr>
                 <td><img style="height:80px" class="rounded-circle" src="{{order.product.image.url}}"></td>
                 <td>{{order.product.product_title}}</td>
                 <td>{{order.date}}</td>
                 <td>{{order.product.product_price|currency}}</td>
                 <td>{{order.quantity}}</td>
                 <td>{{order.quantity|multiply:order.product.product_price|currency}}</td>
                 {% if order.status %}
                 <td><small class="badge badge-success">Completed</small></td>
                 {% else %}
                 <td><small class="badge badge-warning">Pending</small></td>
                 {% endif %}
             </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
</div>

