<!--{% extends 'accounts.html' %}-->
<!--{% block register %}-->

<!--<div class="tab-pane fade" id="sellers" role="tabpanel" aria-labelledby="sellers-tab">-->
<!--    <div class="row shop_container justify-content-center">-->
<!--        <div class="col-xl-6 col-md-10">-->
<!--            <div class="login_wrap">-->
<!--                <div class="padding_eight_all bg-white">-->
<!--                    <div class="heading_s1">-->
<!--                        <h3>Create an Account</h3>-->
<!--                    </div>-->
<!--                    <form action="{% url 'register' %}" method="post">-->
<!--                        {% csrf_token %}-->
<!--                        {{register_form.as_p}}-->
<!--                        <div class="login_footer form-group mb-3">-->
<!--                            <div class="chek-form">-->
<!--                                <div class="custome-checkbox"><input-->
<!--                                        class="form-check-input" type="checkbox"-->
<!--                                        name="checkbox" id="exampleCheckbox2" value="">-->
<!--                                    <label class="form-check-label"-->
<!--                                           for="exampleCheckbox2"><span>I agree to terms &amp;-->
<!--																		Policy.</span></label></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group mb-3">-->
<!--                            <button type="submit" class="btn btn-fill-out btn-block" name="register">Register</button>-->
<!--                            &lt;!&ndash;														<a href="my-accounts.html" class="btn btn-fill-out btn-block"&ndash;&gt;-->
<!--                            &lt;!&ndash;															name="register">Register</a>&ndash;&gt;-->

<!--                        </div>-->
<!--                    </form>-->
<!--                    <div class="different_login"><span> or</span></div>-->
<!--                    <ul class="btn-login list_none text-center">-->
<!--                        <li><a href="#" class="btn btn-facebook"><i-->
<!--                                class="ion-social-facebook"></i>Facebook</a></li>-->
<!--                        <li><a href="#" class="btn btn-google"><i-->
<!--                                class="ion-social-googleplus"></i>Google</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--{% endblock %}-->